// Place all the styles related to the Greetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 body{
 	background-image: url("main.jpg");
 }

 .title{
 	text-align: center;
 	font-size: 40px;
 }


.link{
	text-align: center;
	font-size: 20px;
}

.center{
	text-align: center;
}

.times{
	font-size: 20px;


}